/* content */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

#amazingcarousel-4 .amazingcarousel-image {	
	position: relative;
	padding: 0px;
	width: 40%;
	float: left;
}

#amazingcarousel-4 .amazingcarousel-image img {
	display: block;
	width: 100%;
	max-width: 100%;
	border: 0;
	margin: 0;
	padding: 0;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

#amazingcarousel-4 .amazingcarousel-text {
	width: 60%;
	float: left;
}
#amazingcarousel-4 .meet_hotel_slid a{
	padding: 10px 25px;
	background: #033d69;
	text-align: center;
	color: #fff;
	margin-top: 20px;
	float: left;
}
#amazingcarousel-4 span{
    width: 100%;
    float: left;
    padding: 5px 0px;
	font-weight: 400;
	font-size: 14px;
}
#amazingcarousel-4 span i{
    font-size: 17px;
    text-align: left;
    color: #fff;
	display: inline-block;
	width: 30px;
}
#amazingcarousel-4 h2 {
	font-weight: 400;
	font-size: 28px;
	position: relative;
	color: #333333;
	text-align: left;
	margin: 8px 18px 8px 24px;
}
#amazingcarousel-4  h2:before {
	display: block;
	font-size: 48px;
	position: absolute;
	left: -24px;
	top: -8px;
	color: #666666;
}
#amazingcarousel-4 p {
	font-weight: 400;
	font-size: 14px;
	position: relative;
	color: #333333;
	text-align: left;
	margin: 8px 18px 8px 24px;
}
#amazingcarousel-4  p:before {
	display: block;
	font-size: 48px;
	position: absolute;
	left: -24px;
	top: -8px;
	color: #666666;
}
#amazingcarousel-4 blockquote {
	font: italic 14px;
	position: relative;
	color: #333333;
	text-align: left;
	margin: 8px 18px 8px 24px;
}

#amazingcarousel-4  blockquote:before {
	display: block;
	content: "\201C";
	font-size: 48px;
	position: absolute;
	left: -24px;
	top: -8px;
	color: #666666;
}

#amazingcarousel-4  cite {
	color: #999999;
	font: italic 14px;
	display: block;
	position: relative;
	margin: 4px 18px;
	text-align: right;
}

#amazingcarousel-4 cite:before {
	content: "\2014 \2009";
}

/* carousel */

#amazingcarousel-container-4 {
	padding: 32px 0px; 
}

#amazingcarousel-4 .amazingcarousel-list-container { 
	padding: 16px 0;
}

/* item */

#amazingcarousel-4 .amazingcarousel-item-container {
	text-align: center;
	padding: 6px;
	background-color: #fff;
	border: 1px solid #ddd;
	-moz-box-shadow: 0px 0px 5px 1px rgba(96, 96, 96, 0.1);
	-webkit-box-shadow: 0px 0px 5px 1px rgba(96, 96, 96, 0.1);
	box-shadow: 0px 0px 5px 1px rgba(96, 96, 96, 0.1);
}

/* arrows */

#amazingcarousel-4 .amazingcarousel-prev {
	left: 0%;
	top: 50%;
	margin-left: 4px;
	margin-top: -16px;
}

#amazingcarousel-4 .amazingcarousel-next {
	right: 0%;
	top: 50%;
	margin-right: 4px;
	margin-top: -16px;
}

/* navigation bullets */

#amazingcarousel-4 .amazingcarousel-nav {
	position: absolute;
	width: 100%;
	top: 100%;
}

#amazingcarousel-4 .amazingcarousel-bullet-wrapper {
	margin: 4px auto;
}

