@charset "utf-8";
* {
    margin: 0px;
    padding: 0px;
}
.container{width: 90% !important;}
a:hover {
    text-decoration: none;
}

a:active,
a:focus {
    text-decoration: none;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.red_row{
    width: 100%;
    background: #d62023;
    height: 5px;
}
header{
    background: #11293b;
    padding: 10px 0px;
}
.logo{
    float: left;
}
.mob_num{
    float: right;
    color: #fff;
    margin-top: 5px;
    margin-right: 30px;
}
.mob_num span{
    background: #d62023;
    height: 40px;
    width: 40px;
    display: block;
    border-radius:50%;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    float: left;
}
.mob_num a h3{
    float: left;
    margin: 0;
    line-height: 40px;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    margin-left: 5px;
}
.mob_num a h3:hover{
    color: #d62023;
}
.social{
    float: right;
    margin-top: -10px;
}
.social a{
    color: #fff;
}
.social span{
    display: block;
    width: 30px;
    height: 30px;
    float: left;
    line-height: 30px;
    text-align: center;
}
.goog{
    background: #dd4d40;
}
.goog:hover{
    background: #b40505;
}
.twitt{
    background: #55acee;
}
.twitt:hover{
    background: #027ad6;
}
.faceb{
    background: #3b579d;
}
.faceb:hover{
    background: #2f1afb;
}

.banner{
    position: relative;
}
.slider{
    
}
.amazingslider-nav-container-1{
    display: none;
}
.amazingslider-timer-1{
    top: 0 !important;
    height: 3px !important;
}
.check_fourm{
    position: absolute;
    top: 0;
    right: 100px;
    width: 400px;
   /* height: 450px;*/
    background: rgba(0,0,0,0.8);
    padding: 45px 30px;
}
.check_fourm span i{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #fff;
    font-size: 32px;
    line-height: 60px;
    text-align: center;
    float: left;
    color: #fff;
}
.check_head{
    color: #fff;
    font-size: 23px;
    line-height: 28px;
    float: left;
    margin-left: 10px;
}
.check_head b{
    font-size: 28px;
}
.check_fourm form{
    margin-top:30px;
    float:left ;
}
.check_fourm input[type=text],.check_fourm select{
    width: 100%;
    height: 40px;
    padding-left: 8px;
    margin: 10px 0px;
   background: rgba(255, 255, 255, 0.3);
    border: none;
    color: #fff;
}
.check_fourm select option {
    margin: 40px;
    color: #000;
}
.check_fourm .room_typ{
    width: 100%;
    
}
.check_fourm .num_pers{
    width: 48.4%;
    float: left;
}
.kids{
    margin-left:  10px !important;
}
.check_fourm button{
    width: 100%;
    height: 40px;
    margin: 10px 0px;
    background: #033d69;
    border-color: #033d69;
    color: #fff;
}
.check_fourm button:hover{
    background: #1b74b7;
    border-color:#1b74b7;
}
.form-control{
    padding-right: 160px;
    border-radius: 0;
}
.check_fourm input::-webkit-input-placeholder {
color: #fff !important;
}
 
.check_fourm input:-moz-placeholder { /* Firefox 18- */
color: #fff !important;  
}
 
.check_fourm input::-moz-placeholder {  /* Firefox 19+ */
color: #fff !important;  
}
 
.check_fourm input:-ms-input-placeholder {  
color: #fff !important;  
}
.main_menu{
    background: #11293b;
    padding: 20px 0px;
}
.main_nav{
    float: right;
}
.main_nav ul{
    margin: 0;
}
.main_nav ul li{
    display: inline-block;
}
.main_nav ul li a{
    color: #fff;
    padding: 19px 20px;
}
.main_nav ul li a:hover,.main_nav .active{
    background:#b40505;
}
.why{
    background: url("../images/dot_bg.jpg") center ;
    text-align: center;
    color: #fff;
    padding: 30px 0px;
}
.why h1{
    margin-top: 40px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 28px;
}
.why hr{
    width: 10%;
    margin: 5px auto;
}
.img-rounded{
    border: 2px solid #fff;
}
.why_img_box{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 15px 10px;
}
.why_img_box a img{
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    max-width: 100%;
    
     border: 2px solid #fff;
}
.why_img_box a img:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
   transition: all 0.5s ease;
}
.why_img_box a span:hover{
    background: #033d69;
    color: #fff;
}
.why_img_box a{
    display: block;
    color: #000;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 600;
}
.why_img_box a span{
    position: absolute;
    padding: 15px 30px;
    background: rgba(255,255,255,0.8);
    color: #000;
    top: 35%;
    left: 35%;
}
.col-lg-7 .why_img_box a span, .col-md-7 .why_img_box a span, .col-sm-7 .why_img_box a span{
    
    top: 40%;
    left: 20%;
}
.col-lg-5 .why_img_box a span, .col-md-5 .why_img_box a span, .col-sm-5 .why_img_box a span{
    top: 36%;
    left: 9%;
}
.meet_our{
    background: url("../images/meet_bg.jpg") center ;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
}
.meet_our h1{
    margin-top: 40px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 28px;
}
.meet_our hr{
    width: 10%;
    margin: 5px auto;
}
.meet_hotel_slid .bx-wrapper .bx-loading{
    background: none;
}
/*.meet_hotel_slid .bx-viewport{
    height: 400px;
}*/
.meet_hotel_slid{
    padding: 30px 0px;
}
.meet_hotel_left{
    width: 48%;
    float: left;
    text-align: left;
}
.jms-content{
    text-align: left;
    font-family: 'Poppins', sans-serif;
}
.jms-content h3{
    text-transform: uppercase;
    margin: 20px 0px;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.jms-content p{
    text-align: justify;
    margin: 20px 0px;
}
.jms-content span{
    width: 100%;
    float: left;
    padding: 5px 0px;
}
.jms-content span i{
    font-size: 24px;
    text-align: left;
    color: #fff;
}
.jms-content a{
    padding: 10px 25px;
    background: #033d69;
    text-align: center;
    color: #fff;    
    margin-top: 20px;
    float: left;
}
.jms-content a:hover{
    background: #fff;
    color: #033d69;
}
.meet_hotel_right{
    width: 50%;
    float: right;
    margin: 20px 0px;
}
.meet_hotel_right img{
    max-width: 100%;
}
.our_special{
    background: url("../images/dot_bg.jpg") center ;
    text-align: center;
    color: #fff;
    padding: 30px 0px;
}
.our_special h1{
    margin-top: 40px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 28px;
}
.our_special hr{
    width: 10%;
    margin: 5px auto;
}
.our_special p{
    margin-bottom: 30px;
}
.amazingslider-text-2{
    padding: 15px 0px !important;
    margin-left: 10px;
}
.amazingslider-title-2{
    float: right;
    padding-left: 15px;
}
.amazingslider-text-bg-2,
.amazingslider-title-2{
    width: 280px !important;
    right: 0 !important;
    left: auto !important;
    bottom: 0 !important;
    top:  auto !important;
}
.amazingslider-timer-2{
    display: none !important;
}
.amazingslider-bullet-2{
    height: 108px !important;
}
.amazingslider-bullet-img-2 img{
    max-width: 100%;
}
/*.amazingslider-bullet-text-2{
    margin-left: 0 !important;
}*/
.amazingslider-bullet-image-2{
    width: 125px !important;
    height: 99px !important;
}
/*.amazingslider-timer-2{
    display: none !important;
}*/
.hotel_overlay{
    font-family: 'Poppins', sans-serif;
    display: none;
    width: 280px !important;
    background: rgba(0,0,0,.4) !important; 
    padding: 15px 20px;
    
}
.hotel_overlay h3{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}
.hotel_overlay p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.hotel_overlay a{
    font-family: 'Poppins', sans-serif;
    padding: 8px 20px;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    display: block;
    width: 60%;
    margin: 0 auto;
    
}
.amazingslider-bottom-shadow-2{
    display: none !important;
}
.amazingslider-nav-thumbnail-tite-2:focus,
.amazingslider-nav-thumbnail-tite-2:active,
.amazingslider-nav-thumbnail-tite-2:visited,
.amazingslider-nav-thumbnail-tite-2:hover{
    color: #fff !important;
}
.amazingslider-nav-thumbnail-tite-2{
    color: #f4f4f4 !important;
}
.amazingslider-bullet-2:focus,
.amazingslider-bullet-2:active,
.amazingslider-bullet-2:visited,
.amazingslider-bullet-2:hover{
    background: #033d69 !important;
    color: #fff !important;
}
.resturant_part{
    background: url("../images/resturant_bg.jpg") center ;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    padding: 30px 0px;
}
.resturant_slid{
    
}
.resturant_slid h4{
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
}
.amazingslider-bottom-shadow-3{
    display: none !important;
}
.special_menu h4{
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
}
.our_special_box{
    padding-bottom: 31px;
    position: relative;
}
.our_special_box .overlay{
    display: none;
    position: absolute;
    width: 100%;
    background: rgba(0,0,0,0.8);
    bottom: 15px;
}
.our_special_box a{
    color: #fff;
}
.our_special_box:hover .overlay{
    display: block;
}
.our_special_box img{
    max-width: 100%;
}
.special_menu_link{
    padding: 15px 0px;
}
.special_menu_link a{
    text-align: center;
    padding: 8px 35px;
    background: #033d69;
    color: #fff;
}
.special_menu_link a:hover{
    background: #fff;
    color: #033d69;
}
footer{
    background: #131313;
    padding: 15px 0px;
    font-size: 12px;
}
.foot_nav{
    float: left;
    color:#e8e8e8;
}
.foot_nav ul{
    margin-bottom: 0;
}
.foot_nav ul li{
    display: inline-block;
}
.foot_nav ul li a{
    color:#e8e8e8;
    font-size: 12px;
}
.foot_nav ul li a:hover{
    color: #033d69;
}
.copy{
    float: right;
    color: #e8e8e8;
}
.copy p{
    float: left;
    margin-bottom: 0;
    margin-top: 3px;
    margin-right: 6px;
}
.copy span{
    float: left;
}
/****************booking****************/
.inner_banner{width:100%; height:auto;}
.inner_banner img{width:100%; height:auto;}
.inner_page_mainheading{width:100% !important; margin-bottom:20px}
.inner_page_mainheading h1{margin-top:40px;margin-bottom:0;text-transform:uppercase;font-weight:600;font-size:28px;color:#000; text-align:center}
.inner_page_mainheading hr{width:10%;margin: 5px auto;}
.inner_page_mainheading p{margin: 0 0 10px;text-align: center;}
.booking_form input[type=text],.booking_form select{width:100%;height:40px;padding-left:8px;margin:10px 0px;border: 1px solid #ccc; outline:none}
.booking_form input[type=text]:focus,.booking_form select:focus{border: 1px solid #11293b;}
.booking-main{ float:none !important; margin:20px auto}
.booking_form input::-webkit-input-placeholder{color:#ccc !important;}
.booking_form input:-moz-placeholder{color:#ccc !important;}
.booking_form input::-ms-placeholder{color:#ccc !important;}
.booking_form input::-o-input-placeholder{color: #ccc !important;}
.booking_form input[type=submit]{width:100%;height:40px;background:#fff;color:#11293b;border:none;outline:none;line-height:40px;border:1px solid #11293b;transition-duration:1s}
.booking_form input[type=submit]:hover{background:#11293b;color:#fff; transition-duration:1s}
.booking_form label{ font-weight:normal}
.booking_bottn{float:none !important; margin:10px auto 10px auto;}
.booking_search_item{height:auto; border: 1px solid #c1c1c1;margin-bottom: 25px;}
.booking_inner img{width:100%; margin-top:15px;margin-bottom:15px}
.booking_search_item h4{font-size:15px;font-weight:600;}
.booking_search_item span{ font-weight:bold; font-size:18px;line-height:30px;font-family: Arial;}
.booking_search_item .rate{padding:8px 0px 0px; border-top:1px dashed #ccc;height:auto; overflow:auto;}
.booking_search_item a{ float:right;}
.booking_search_item .rate .left_sectn{ float:left}
.booking_search_item p{font-size:12.4px;line-height:20px;color:#888686;}
.booking_inner h4{ margin-bottom:20px; margin-left:15px}
.left_login{ border-right:1px solid #e4e1e1; padding:35px}
.left_login .or{position:absolute;bottom:119px;right:-10px;background:#fff; }
.left_login textarea{min-width:100%;max-width:100%; min-height:112px; max-height:112px}
.right_login{padding:35px}
.left_login input,.left_login textarea,.left_login select,.right_login input,.right_login textarea,.right_login select{outline:none;}
.left_login input:focus,.left_login textarea:focus,.left_login select:focus,.right_login input:focus,.right_login textarea:focus,.right_login select:focus{border:1px solid #b40505 !important}
#msform {
margin: 50px auto;
text-align: center;
position: relative;
}
#msform fieldset {
background: white;
border: 0 none;
border-radius: 3px;
box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
padding: 20px 30px;
box-sizing: border-box;
width: 80%;
margin: 0 10%;
/*stacking fieldsets above each other*/
/*position: absolute;*/
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
display: none;
}
/*inputs*/
#msform input, #msform textarea {
padding: 15px;
border: 1px solid #ccc;
border-radius: 3px;
margin-bottom: 10px;
width: 100%;
box-sizing: border-box;
font-family: montserrat;
color: #2C3E50;
font-size: 13px;
}
/*buttons*/
#msform .action-button {
width: 100px;
background: #b40505;
font-weight: bold;
color: white;
border: 0 none;
border-radius: 1px;
cursor: pointer;
padding: 10px 5px;
margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
box-shadow: 0 0 0 2px white, 0 0 0 3px #b40505;
}
/*headings*/
.fs-title {
font-size:22px;
text-transform: uppercase;
color: #2C3E50;
margin-bottom: 10px;
}
.fs-subtitle {
font-weight: normal;
font-size: 13px;
color: #666;
margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
margin-bottom: 30px;
overflow: hidden;
/*CSS counters to number the steps*/
counter-reset: step;
}
#progressbar li {
list-style-type: none;
/*color: white;*/
text-transform: uppercase;
font-size: 9px;
width: 25%;
float: left;
position: relative;
}
#progressbar li:before {
content: counter(step);
counter-increment: step;
width: 20px;
line-height: 20px;
display: block;
font-size: 10px;
color: #fff;
background:#000;
border-radius: 3px;
margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
content: '';
width: 100%;
height: 2px;
background:#828181;
position: absolute;
left: -50%;
top: 9px;
z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
/*connector not needed before the first step*/
content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
background: #b40505;
color: white;
}
/************end booking****************/

