@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Poppins-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Poppins-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Poppins-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Poppins-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@charset "utf-8";
* {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 90% !important;
}

a:hover {
    text-decoration: none;
}

a:active,
a:focus {
    text-decoration: none;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    font-family:Poppins;
}

.red_row {
    width: 100%;
    background: #d62023;
    height: 5px;
}

header {
    background: #11293b;
    padding: 10px 0px;
}

.logo {
    float: left;
    width: 200px;
}
.logo img{
    max-width:100%;
}

.mob_num {
    float: right;
    color: #fff;
    margin-top: 5px;
    margin-right: 65px;
}

.mob_num span {
    background: #d62023;
    height: 40px;
    width: 40px;
    display: block;
    border-radius: 50%;
    line-height: 43px;
    text-align: center;
    font-size: 18px;
    float: left;
}

.mob_num a h3 {
    float: left;
    margin: 0;
    line-height: 40px;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    margin-left: 5px;
}

.mob_num a h3:hover {
    color: #d62023;
}

.social {
    float: right;
    margin-top: -10px;
}

.social a {
    color: #fff;
}

.social span {
    display: block;
    width: 30px;
    height: 30px;
    float: left;
    line-height: 30px;
    text-align: center;
}

.goog {
    background: #dd4d40;
}

.goog:hover {
    background: #b40505;
}

.twitt {
    background: #55acee;
}

.twitt:hover {
    background: #027ad6;
}

.faceb {
    background: #3b579d;
}

.faceb:hover {
    background: #2f1afb;
}

.banner {
    position: relative;
}

.slider {}

.amazingslider-nav-container-1 {
    display: none;
}

.amazingslider-timer-1 {
    top: 0 !important;
    height: 3px !important;
}

.check_fourm {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 80px;
    width: 400px;
    /* height: 450px;*/
    background: rgba(0, 0, 0, 0.8);
    padding: 45px 30px;
}

.check_fourm span i {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #fff;
    font-size: 32px;
    line-height: 60px;
    text-align: center;
    float: left;
    color: #fff;
}

.check_head {
    color: #fff;
    font-size: 23px;
    line-height: 28px;
    float: left;
    margin-left: 10px;
}

.check_head b {
    font-size: 28px;
/*	float:left;*/
	width:100%;
}

.check_fourm form {
    margin-top: 30px;
    float: left;
}

.check_fourm input {
    width: 100%;
    height: 40px;
    padding-left: 8px;
    margin: 10px 0px;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    color: #fff;
}

.check_fourm select {
    height: 40px;
    padding-left: 8px;
    margin: 10px 0px;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    color: #fff;
}

.check_fourm select option {
    /*margin: 40px;*/
    color: #000;
	background:#fff;
}

.check_fourm .room_typ {
    width: 100%;
}

.check_fourm .num_pers {
    width: 48.4%;
    float: left;
}

.kids {
    margin-left: 10px !important;
}

.check_fourm button {
    width: 100%;
    height: 40px;
    margin: 10px 0px;
    background: #033d69;
    border-color: #033d69;
    color: #fff;
}

.check_fourm button:hover {
    background: #1b74b7;
    border-color: #1b74b7;
}

.form-control {
    border-radius: 0;
}



.check_fourm input:-moz-placeholder {
    /* Firefox 18- */
    color: #fff !important;
}

.check_fourm input::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff !important;
}

.check_fourm input:-ms-input-placeholder {
    color: #fff !important;
}

.main_menu {
    background: #11293b;
    padding: 20px 0px;
}

.main_nav {
    float: right;
}

.main_nav ul {
    margin: 0;
}

.main_nav ul li {
    display: inline-block;
}

.main_nav ul li a {
    color: #fff;
    padding: 19px 20px;
}

.main_nav .active,
.main_nav ul li a:hover {
    background: #b40505;
}

.why {
    background: url("../images/dot_bg.jpg") center;
    text-align: center;
    color: #fff;
    padding: 30px 0px;
}

.why h1 {
    margin-top: 40px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 28px;
}

.why hr {
    width: 10%;
    margin: 5px auto;
}

.img-rounded {
    border: 2px solid #fff;
}

.why_img_box {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 15px 10px;
}

.why_img_box a img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 3.5+ */
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+ & Safari 6+ */
    max-width: 100%;
    border: 2px solid #fff;
}

.why_img_box a img:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
    transition: all 0.5s ease;
}

.why_img_box a span:hover {
    background: #033d69;
    color: #fff;
}

.why_img_box a {
    display: block;
    color: #000;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 600;
}

.why_img_box a span {
    position: absolute;
    padding: 15px 30px;
    background: rgba(255, 255, 255, 0.8);
    color: #000;
    top: 35%;
    left: 35%;
}

.col-lg-7 .why_img_box a span,
.col-md-7 .why_img_box a span,
.col-sm-7 .why_img_box a span {
    top: 40%;
    left: 20%;
}

.col-lg-5 .why_img_box a span,
.col-md-5 .why_img_box a span,
.col-sm-5 .why_img_box a span {
    top: 36%;
    left: 11%;
}

.meet_our {
    background: url("../images/meet_bg.jpg") center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.meet_our h1 {
    margin-top: 40px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 28px;
}

.meet_our hr {
    width: 10%;
    margin: 5px auto;
}

.meet_hotel_slid .bx-wrapper .bx-loading {
    background: none;
}


/*.meet_hotel_slid .bx-viewport{
    height: 400px;
}*/

.meet_hotel_slid {
    padding: 30px 0px;
}

.meet_hotel_left {
    width: 48%;
    float: left;
    text-align: left;
}

.jms-content {
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

.jms-content h3 {
    text-transform: uppercase;
    margin: 20px 0px;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.jms-content p {
    text-align: justify;
    margin: 20px 0px;
}

.jms-content span {
    width: 100%;
    float: left;
    padding: 5px 0px;
}

.jms-content span i {
    font-size: 24px;
    text-align: left;
    color: #fff;
}

.jms-content a {
    padding: 10px 25px;
    background: #033d69;
    text-align: center;
    color: #fff;
    margin-top: 20px;
    float: left;
}

.jms-content a:hover {
    background: #fff;
    color: #033d69;
}

.meet_hotel_right {
    width: 50%;
    float: right;
    margin: 20px 0px;
}

.meet_hotel_right img {
    max-width: 100%;
}

.our_special {
    background: url("../images/dot_bg.jpg") center;
    text-align: center;
    color: #fff;
    padding: 50px 0px;
}

.our_special h1 {
    margin-top: 20px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 28px;
}

.our_special hr {
    width: 10%;
    margin: 5px auto;
}

.our_special p {
    margin-bottom: 30px;
}

.amazingslider-text-2 {
    padding: 15px 0px !important;
    margin-left: 10px;
}

.amazingslider-title-2 {
    width: 280px !important;
    right: 0 !important;
    left: auto !important;
    bottom: 0 !important;
    top: auto !important;
    float: inherit;
    padding-left: 30px;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 15px !important;
}

.amazingslider-text-2 {
    width: 300px !important;
    right: 0 !important;
    left: auto !important;
    bottom: 0 !important;
    top: auto !important;
    padding: 15px 30px 15px 15px !important;
    max-height: 100%;
    overflow-y: hidden;
    float: right;
}

.amazingslider-text-bg-2 {
    width: 300px !important;
    right: 0 !important;
    left: auto !important;
    bottom: 0 !important;
    top: auto !important;
    float: right;
    padding: 15px !important;
    max-height: 100%;
    overflow-y: hidden;
}

.amazingslider-description-2 {
    font-family: 'Poppins', sans-serif !important;
    width: 280px !important;
    right: 0 !important;
    left: auto !important;
    bottom: 0 !important;
    top: auto !important;
    float: inherit;
    font-size: 14px !important;
    padding-left: 30px;
    padding-bottom: 15px !important;
}

.amazingslider-text-box-2 {
    display: block !important;
}

.as-btn-blueborder-medium {
    width: 120px !important;
    right: 0 !important;
    left: auto !important;
    bottom: 0 !important;
    top: auto !important;
    float: right;
    padding-left: 15px;
    margin-right: 70px !important;
    border: 1px solid #fff !important;
    color: #fff !important;
}

.as-btn-blueborder-medium:hover {
    background: #fff !important;
    color: #033d69 !important;
}

.amazingslider-timer-2 {
    display: none !important;
}

.amazingslider-bullet-2 {
    height: 108px !important;
}

.amazingslider-bullet-img-2 img {
    max-width: 100%;
}


/*.amazingslider-bullet-text-2{
    margin-left: 0 !important;
}*/

.amazingslider-bullet-image-2 {
    width: 125px !important;
    height: 99px !important;
}


/*.amazingslider-timer-2{
    display: none !important;
}*/

.hotel_overlay {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Poppins', sans-serif;
    display: none;
    width: 280px !important;
    background: rgba(0, 0, 0, .4) !important;
    padding: 15px 20px;
    z-index: 99999;
}

.hotel_overlay h3 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

.hotel_overlay p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.hotel_overlay a {
    font-family: 'Poppins', sans-serif;
    padding: 8px 20px;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    display: block;
    width: 60%;
    margin: 0 auto;
}

.amazingslider-bottom-shadow-2 {
    display: none !important;
}

.amazingslider-nav-thumbnail-tite-2:focus,
.amazingslider-nav-thumbnail-tite-2:active,
.amazingslider-nav-thumbnail-tite-2:visited,
.amazingslider-nav-thumbnail-tite-2:hover {
    color: #fff !important;
}

.amazingslider-nav-thumbnail-tite-2 {
    color: #f4f4f4 !important;
}

.amazingslider-bullet-2:focus,
.amazingslider-bullet-2:active,
.amazingslider-bullet-2:visited,
.amazingslider-bullet-2:hover {
    background: #033d69 !important;
    color: #fff !important;
}

.resturant_part {
    background: url("../images/resturant_bg.jpg") center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color: #fff;
    padding: 30px 0px;
}

.resturant_slid {}

.resturant_slid h4 {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
}

.amazingslider-bottom-shadow-3 {
    display: none !important;
}

.special_menu h4 {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
}

.our_special_box {
    padding-bottom: 31px;
    position: relative;
}

.our_special_box .overlay {
    display: none;
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    bottom: 31px;
}

.our_special_box .overlay h5 {
    font-size: 16px;
    text-align: center;
}

.our_special_box a {
    color: #fff;
}

.our_special_box:hover .overlay {
    display: block;
}

.our_special_box img {
    max-width: 100%;
}

.special_menu_link {
    padding: 15px 0px;
}

.special_menu_link a {
    text-align: center;
    padding: 8px 35px;
    background: #033d69;
    color: #fff;
}

.special_menu_link a:hover {
    background: #fff;
    color: #033d69;
}

footer {
    background: #131313;
    padding: 25px 0px;
    font-size: 12px;
}

.foot_nav {
    float: left;
    color: #e8e8e8;
}

.foot_nav ul {
    margin-bottom: 0;
}

.foot_nav ul li {
    display: inline-block;
}

.foot_nav ul li a {
    color: #e8e8e8;
    font-size: 12px;
}

.foot_nav ul li a:hover {
    color: #d62023;
}

.copy {
    float: right;
    color: #e8e8e8;
}

.copy p {
    float: left;
    margin-bottom: 0;
    margin-top: 3px;
    margin-right: 6px;
}

.copy span {
    float: left;
}

#amazingcarousel-4 .amazingcarousel-item-container {
    background: none !important;
    border: none !important;
}

#amazingcarousel-4 h2 {
    color: #fff !important;
    padding-bottom: 20px;
}

#amazingcarousel-4 p {
    color: #fff !important;
    padding-bottom: 20px;
}

#amazingcarousel-4 span {
    text-align: left;
    margin-left: 25px;
}

#amazingcarousel-4 .meet_hotel_slid a {
    margin-left: 25px;
}

#amazingcarousel-4 .meet_hotel_slid a:hover {
    background: #fff;
    color: #033d69;
}

#amazingcarousel-4 .amazingcarousel-text {
    width: 50% !important;
}

#amazingcarousel-4 .amazingcarousel-image {
    width: 50% !important;
    margin-top: -100px;
}

#amazingcarousel-container-4 {
    padding: 0 !important;
}

.nav_trigger {
    display: none;
    font-size: 23px;
    color: #d62023;
    border: 1px solid #d62023;
    text-align: center;
    width: 40px;
    height: 35px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 40px;
    border-radius: 3px;
    -o-transition: all 0.2s easer-out;
    -moz-transition: all 0.2s easer-out;
    -webkit-transition: all 0.2s easer-out;
    transition: all 0.2s easer-out;
    z-index: 5000;
    background: #fcfcfc;
    line-height: 40px;
}

.nav_trigger:hover {
    color: #fff;
    border: none;
    background: #b40505;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background: rgba(255, 255, 255, 0.3);
}
.pragon_red{
    position: absolute;
    top: 35%;

}
/*************** Feedback Fourm******************/

.feedback_fourm{}
.feedback_button{transform: rotate(270deg);color: white;padding: 0px 10px;position: fixed;right: -34px;background: #e40707;bottom: 210px;cursor: pointer;z-index: 9999;}
.feedback_body{width: 320px;background: #101922;color: #fff;padding: 20px;display: none;position: fixed;bottom: 0;right: 0;z-index: 999999;}
.feedback_body h4{text-transform: uppercase;font-size: 22px;text-align: center;}
.feedback_body input{width: 100%;height: 35px;color: #000}
.feedback_body input[type="text"]{padding-left: 8px;}
.feedback_body textarea{width: 100%;margin-top: 20px;height: 100px;padding-left: 8px;color: #000;padding-top: 8px;}
.feedback_body button{width: 120px;height: 35px;background: #b40505;border: none;margin-top: 15px;}
.feedback_body button:hover{background: #fff;color:#b40505}
.feedback_body span{float: right;cursor: pointer;}
.feedback_body span:hover{color:#b40505}
.feedback_body p{text-align: center;}


/************contact*******************/
.Enqry input[type=text],.Enqry select[type=text],.Enqry input[type=email],.Enqry input[type=password],.Enqry input[type=file],.Enqry input[type=number] {width:100%;height:40px;border-radius:5px;-webkit-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;-moz-border-radius:5px;border:1px solid #dedede;padding-left:10px;background:#f2f2f2;margin-bottom:15px;font-size:14px;color:#000;outline:none}
.Enqry input[type=text]:focus,.Enqry select[type=text]:focus,.Enqry input[type=email]:focus,.Enqry input[type=password]:focus,.Enqry input[type=file]:focus{background:#fff; border:1px solid #1d5693}
.Enqry textarea{max-width:100%;min-width:100%;max-height: 170px;min-height: 170px;border-radius:5px;-webkit-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;-moz-border-radius:5px;border:1px solid #dedede;padding-left:10px;background:#f2f2f2;margin-bottom:15px;font-size:14px;color:#000;padding-top:10px;outline:none; resize:none}
.Enqry textarea:focus{background:#fff; border:1px solid #1d5693}
.refrsh{width:50px;height:50px;float:left;margin:0px 15px 0px 15px;transition-duration:1s;cursor:pointer;-webkit-transition-duration:1s;}
.refrsh:hover{transform:rotate(360deg);transition-duration:1s;cursor:pointer;-webkit-transition-duration:1s;}
.more{width:130px;height:36px; border-radius:5px;background:;text-align:center;line-height:36px;float:right; margin-top:10px;text-decoration:none;color:#005c6d;padding:0;}
.more1{width:130px;height:36px; border-radius:6px;background:#fff;text-align:center;line-height:36px;text-transform:uppercase;float:right; margin-top:10px;text-decoration:none;color:#005c6d;padding:0; border:1px solid #005c6d;transition-duration:1s; border: 1px solid #ccc; outline:none}
.more1:hover{color:#fff;background:#0b488b;border: 1px solid #005c6d; transition-duration:1s}
.more:hover{ text-decoration:none;color:#000}
.cont_sbmt{width:140px !important}
.Enqry input::-webkit-input-placeholder{color:#999 !important;}
.Enqry input:-moz-placeholder{color:#999 !important;}
.Enqry input::-ms-placeholder{color:#999 !important;}
.Enqry input::-o-input-placeholder{color: #999 !important;}
/****************booking****************/
.inner_banner{width:100%; height:auto;}
.inner_banner img{width:100%; height:auto;}
.inner_page_mainheading{width:100% !important; margin-bottom:20px}
.inner_page_mainheading h1{margin-top:40px;margin-bottom:0;text-transform:uppercase;font-weight:600;font-size:28px;color:#000; text-align:center}
.inner_page_mainheading hr{width:10%;margin: 5px auto;}
.inner_page_mainheading p{margin: 0 0 10px;text-align: center;}
.booking_form input[type=text],.booking_form select{width:100%;height:40px;padding-left:8px;margin:10px 0px;border: 1px solid #ccc; outline:none}
.booking_form input[type=text]:focus,.booking_form select:focus{border: 1px solid #11293b;}
.booking-main{ float:none !important; margin:20px auto}
.booking_form input::-webkit-input-placeholder{color:#ccc !important;}
.booking_form input:-moz-placeholder{color:#ccc !important;}
.booking_form input::-ms-placeholder{color:#ccc !important;}
.booking_form input::-o-input-placeholder{color: #ccc !important;}
.booking_form input[type=submit]{width:100%;height:40px;background:#fff;color:#11293b;border:none;outline:none;line-height:40px;border:1px solid #11293b;transition-duration:1s}
.booking_form input[type=submit]:hover{background:#11293b;color:#fff; transition-duration:1s}
.booking_form label{ font-weight:normal}
.booking_bottn{float:none !important; margin:10px auto 10px auto;}
.booking_search_item{height:auto; border: 1px solid #c1c1c1;margin-bottom: 25px;}
.booking_inner img{width:100%; margin-top:15px;margin-bottom:15px}
.booking_search_item h4{font-size:15px;font-weight:600;}
.booking_search_item span{ font-weight:bold; font-size:18px;line-height:30px;font-family: Arial;}
.booking_search_item .rate{padding:8px 0px 0px; border-top:1px dashed #ccc;height:auto; overflow:auto;}
.booking_search_item a{ float:right;}
.booking_search_item .rate .left_sectn{ float:left}
.booking_search_item p{font-size:12.4px;line-height:20px;color:#888686;}
.booking_inner h4{ margin-bottom:20px; margin-left:15px}
.left_login,.left_login1{ border-right:1px solid #e4e1e1; padding:35px}
.left_login .or{position:absolute;bottom:119px;right:-10px;background:#fff; }
.left_login textarea{min-width:100%;max-width:100%; min-height:112px; max-height:112px}
.right_login{padding:35px}
.left_login input,.left_login textarea,.left_login select,.right_login input,.right_login textarea,.right_login select{outline:none;}
.left_login input:focus,.left_login textarea:focus,.left_login select:focus,.right_login input:focus,.right_login textarea:focus,.right_login select:focus{border:1px solid #b40505 !important}
#msform {margin: 50px auto;text-align: center;position: relative;}
#msform fieldset {background: white;border: 0 none;border-radius: 3px;box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);padding: 20px 30px;box-sizing: border-box;width: 80%;margin: 0 10%;/*position: absolute;*/}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {display: none;}
/*inputs*/
#msform input, #msform textarea {padding: 5px 15px;border: 1px solid #ccc;border-radius: 3px;margin-bottom: 10px;width: 100%;box-sizing: border-box;font-family: montserrat;color: #2C3E50;font-size: 13px;}
/*buttons*/
#msform .action-button {width: 100px;background: #b40505;font-weight: bold;color: white;border: 0 none;border-radius: 1px;cursor: pointer;padding: 10px 5px;
margin: 10px 5px;}
#msform .action-button:hover, #msform .action-button:focus {box-shadow: 0 0 0 2px white, 0 0 0 3px #b40505;}
/*headings*/
.fs-title {font-size:22px;text-transform: uppercase;color: #2C3E50;margin-bottom: 10px;}
.fs-subtitle {font-weight: normal;font-size: 13px;color: #666;margin-bottom: 20px;}
/*progressbar*/
#progressbar {margin-bottom: 30px;overflow: hidden;/*CSS counters to number the steps*/counter-reset: step;}
#progressbar li {list-style-type: none;text-transform: uppercase;font-size: 9px;width: 25%;float: left;position: relative;}
#progressbar li:before {content: counter(step);counter-increment: step;width: 20px;line-height: 20px;display: block;font-size: 10px;color: #fff;background:#000;border-radius: 3px;margin: 0 auto 5px auto;}
/*progressbar connectors*/
#progressbar li:after {content: '';width: 100%;height: 2px;background:#828181;position: absolute;left: -50%;top: 9px;z-index: -1; /*put it behind the numbers*/}
#progressbar li:first-child:after {/*connector not needed before the first step*/content: none;}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {background: #b40505;color: white;}
/************end booking****************/
/***********************Packages************************/
.packing_inner img{width:100%; margin-top:15px;margin-bottom:15px}
.packing_item{height:auto; border: 1px solid #c1c1c1;margin-bottom: 25px;}
.packing_item  span{ font-weight:bold; font-size:18px;line-height:30px;font-family: Arial;}
.packing_item h4{font-size:15px;font-weight:600;}
.packing_item .rate{padding:8px 0px 0px; border-top:1px dashed #ccc;height:auto; overflow:auto;}
.packing_item a{ float:right;}
.packing_item .rate .left_sectn{ float:left}
.packing_item p{font-size:12.4px;line-height:20px;color:#888686;}
.packing_inner h4{ margin-bottom:20px;}
.packing_item .period{    float: left; width: 100%;font-size: 12px;font-weight: 400;color: #888;text-transform: uppercase;}
.packing_item .btn-primary{height: auto !important; padding: 15px 25px;}
/***********************End Packages************************/
/***********************About page**************************/
.about_main{ margin-bottom:30px}
.about_main img{ width:100%; margin-bottom:20px}
.about_main p{color:#737373;line-height:24px;text-align:justify;}
.about_left ul{margin-top:10px;float:left;width:100%;}
.about_left ul li{ list-style:none; margin:10px 0px}
.contact_head_sub{text-align:left;height:auto;font-size:18px;color:#fff;margin-top:0px;font-weight:normal; padding-left:0;text-transform: uppercase;    padding: 6px 10px 4px 10px;background: rgba(17,41,59,1);
background: -moz-linear-gradient(left, rgba(17,41,59,1) 0%, rgba(79,122,150,1) 44%, rgba(255,255,255,1) 74%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(17,41,59,1)), color-stop(44%, rgba(79,122,150,1)), color-stop(74%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(left, rgba(17,41,59,1) 0%, rgba(79,122,150,1) 44%, rgba(255,255,255,1) 74%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(left, rgba(17,41,59,1) 0%, rgba(79,122,150,1) 44%, rgba(255,255,255,1) 74%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(left, rgba(17,41,59,1) 0%, rgba(79,122,150,1) 44%, rgba(255,255,255,1) 74%, rgba(255,255,255,1) 100%);
background: linear-gradient(to right, rgba(17,41,59,1) 0%, rgba(79,122,150,1) 44%, rgba(255,255,255,1) 74%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11293b', endColorstr='#ffffff', GradientType=1 );}
.mission_content{height:auto; margin-bottom:18px}
.mission_content h3{font-size:20px;margin-top:0;text-transform: uppercase; color:#fff;padding: 6px 10px 4px 10px;background: rgba(17,41,59,1);
background: -moz-linear-gradient(left, rgba(17,41,59,1) 0%, rgba(79,122,150,1) 44%, rgba(255,255,255,1) 74%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(17,41,59,1)), color-stop(44%, rgba(79,122,150,1)), color-stop(74%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(left, rgba(17,41,59,1) 0%, rgba(79,122,150,1) 44%, rgba(255,255,255,1) 74%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(left, rgba(17,41,59,1) 0%, rgba(79,122,150,1) 44%, rgba(255,255,255,1) 74%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(left, rgba(17,41,59,1) 0%, rgba(79,122,150,1) 44%, rgba(255,255,255,1) 74%, rgba(255,255,255,1) 100%);
background: linear-gradient(to right, rgba(17,41,59,1) 0%, rgba(79,122,150,1) 44%, rgba(255,255,255,1) 74%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11293b', endColorstr='#ffffff', GradientType=1 );}
.mission_content p{color:#737373;line-height:24px;text-align:justify; padding-right:15px}
.facility_icon{font-size:40px !important; padding:15px;color:#004c7d;transition-duration:1s}
.white-panel:hover .facility_icon{ color:#b40505; transform:rotate(360deg); transition-duration:1s}
.white-panel h4{ text-transform:uppercase}
.white-panel:hover h4{color:#b40505;}
.white-panel {position: absolute;background: white; border:1px solid #e8e8e8;padding: 10px;}
.white-panel img{width:100%; margin:10px auto 0px auto;}
.white-panel p{color:#737373; line-height:24px}
.white-panel:hover {box-shadow: 1px 1px 10px rgba(0,0,0,0.5);margin-top: -5px;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out; border:1px solid #b40505}
.gallery_inner{text-align:center; margin-bottom:30px}
.gallery_inner img{ width:240px; height:150px;}
/***********************Packages************************/
.packing_inner img{width:100%; margin-top:15px;margin-bottom:15px}
.packing_item{height:auto; border: 1px solid #c1c1c1;margin-bottom: 25px;}
.packing_item  span{ font-weight:bold; font-size:18px;line-height:30px;font-family: Arial;}
.packing_item h4{font-size:15px;font-weight:600;}
.packing_item .rate{padding:8px 0px 0px; border-top:1px dashed #ccc;height:auto; overflow:auto;}
.packing_item a{ float:right;}
.packing_item .rate .left_sectn{ float:left}
.packing_item p{font-size:12.4px;line-height:20px;color:#888686;}
.packing_inner h4{ margin-bottom:20px;}
.packing_item .period{    float: left; width: 100%;font-size: 12px;font-weight: 400;color: #888;text-transform: uppercase;}
.packing_item .btn-primary{height: auto !important; padding: 11px 25px;line-height:11px;font-size:12px; float:right;}
/* new*/
.inner_page_mainheading h2{margin-top: 40px;margin-bottom: 0;text-transform: uppercase;font-size: 25px;color: #000;text-align: center;}
.package_view_inner{padding-bottom: 45px;}
.pack_view_content .hotel_name{float: left;font-size: 22px;font-weight: 600;padding-top: 15px;text-transform: uppercase;}
.pack_view_content .place{float: right;    padding-top: 15px;font-weight: 600; color: #8c8b8b;}
.pack_view_content .description{display: inline-block;padding:20px 0px;color: #444;margin-bottom: 0;text-align: justify;}
.pack_view_content .left_sectn{display: inline-block;padding-top: 20px;}
.pack_view_content .rate{display: inline-block;width: 100%;}
.pack_view_content .left_sectn  span{    font-weight: bold; font-size: 28px; line-height: 30px; font-family: Arial;}
.pack_view_content .days{line-height: 30px;font-weight: 600;float: right;}
.pack_view_content .nights{line-height: 30px;font-weight: 600;float: right;margin-right: 15px;}
.pack_view_content .days span{line-height: 35px; width:40px;height: 35px;background: #033d69;text-align: center;display: block;color: #fff;}
.pack_view_content .nights span{line-height: 35px; width:40px;height: 35px;background: #033d69;text-align: center;display: block;color: #fff;}
.pack_view_content .period{float: left;width: 100%;font-size: 12px;font-weight: 400;color: #888;text-transform: uppercase;}
.pack_view_content .book_now{margin-top: 25px;}
.pack_view_content .book_now a{color: #fff;padding: 8px 25px;background: #d62023;float: right;}
.pack_view_content .book_now a:hover{background: #033d69;}
.pack_view_content .features{border: 1px solid #cfcfcf; padding: 5px 0px;}
.pack_view_content .features h4{background: #fff;text-align: center;width: 160px;padding: 10px 0px;text-transform: uppercase;margin-left: 10px;margin-top: -25px;margin-bottom: 0;}
.pack_view_content .features span{display:block;padding:5px 15px;}
.package_booking #progressbar li{width: 33.3333%;}
/***********************End Packages************************/
/*******************Home Page Spe Rooms********************/
.amazingslider-nav-thumbnail-description-2{display: none !important;}
/*******************End Home Page Spe Rooms********************/
/******************** Restaurants *******************/
.restaurants{padding-top: 15px;padding-bottom: 30px;}
.restaurants img{width:100%; margin-top:15px;margin-bottom:15px;}
.restaurants .view_menu {text-align: center;margin-top: 30px;margin-bottom: -8px;}
.restaurants .view_menu a{padding: 10px 25px; background: #033d69; color: #fff;float: none;}
.restaurants .view_menu a:hover{background: #b40505;}
.restaurants_item {height:auto; border: 1px solid #c1c1c1;margin-bottom: 25px;}
.restaurants_item h4{font-size:16px;font-weight:600; text-transform:uppercase}
.restaurants_item .rate{padding:8px 0px 0px; border-top:1px dashed #ccc;height:auto; overflow:auto;}
.restaurants_item .rate .left_sectn{ float:left}
.restaurants_item p{font-size:12.4px;line-height:20px;color:#888686;text-align: justify;}
.restaurants_item .period{    float: left; width: 100%;font-size: 12px;font-weight: 400;color: #888;text-transform: uppercase;}
/******************** End Restaurants *******************/
/****************** Restaurant Menu ***************/
.restaurant_menu{padding-top: 15px;padding-bottom: 30px;}
.restaurant_menu img{width:100%; margin-top:15px;margin-bottom:15px;}
.menu_item {height:auto; border: 1px solid #c1c1c1;margin-bottom: 25px;}
.menu_item h4{font-size:22px;text-transform: uppercase;}
.menu_item .description{font-size:13px;line-height: 25px;color:#8a8989;text-align: justify;}
/****************** End Restaurant Menu ***************/

.default_form input[type="text"],
.default_form input[type="email"],
.default_form input[type="password"] {
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}
.default_form input[type="submit"] {
    display: inline-block;
    background: #b40505;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 20px;
}
.default_form textarea {
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    min-height: 100px;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}
.default_form input[type="text"]:focus,
.default_form input[type="email"]:focus,
.default_form input[type="password"]:focus,
.default_form textarea:focus{
    border: 1px solid #b40505;
}
.valid
{
    color: #fe2701;
}
#error_pop {
    z-index: 99999;
}
.session_modal .modal-content{
    border-radius: 0px;
}
.session_modal .modal-header{
    padding: 7px 15px;
}
.session_modal .modal-footer{
    padding: 7px 15px;
}
.session_modal .modal-footer .btn{
    padding: 5px 10px;
}
.session_modal_success .modal-header{
    background-color: #5cb85c;
    color: #FFF;
}
.session_modal_error .modal-header{
    background-color: #d9534f;
    color: #FFF;
}
#map {
    width: 100%;
    height: 400px;
    margin-top: 30px;
}
/*************For Responsive***********************/



/****************** Main Slid *******************/
@media only screen and (min-device-width: 768px){
.amazingslider-space-1{height: 500px !important;}
#amazingslider-1{height: 500px !important;}
}
@media only screen and (max-device-width: 1230px) {
	.datepicker{margin-bottom: -26px !important;}
    .check_fourm {
        text-align: center;
        position: absolute;
        top: auto;
        bottom: 0;
        /* right: 80px; */
        left: 0;
        width: 100%;
        /* height: 450px; */
        background: rgba(0, 0, 0, 0.8);
        padding: 15px 30px;
    }
    .place {
        width: 16.6666666% !important;
    }
    .check_fourm input[type="text"] {
        width: 125px;
    }
    .check_fourm .room_typ {
        width: 16.6666666% !important;
    }
    .check_fourm .num_pers {
        width: 8.6666666% !important;
        float: none;
    }
    .kids {
        margin-left: 0 !important;
    }
    .check_fourm button {
        width: 15%;
        margin: 0 auto !important;
    }
    .check_head {
        font-size: 18px;
    }
    .check_head b {
        font-size: 20px;
    }
    .form-control {
        padding: 0;
    }
    .check_fourm span i {
        display: none;
    }
    .chek_top {
        text-align: center;
        display: inline-block;
    }
    .check_fourm form {
        margin-top: 10px;
        width: 100%;
        text-align: center !important;
    }
    #demo .form-control {
        width: 100%;
    }
    .meet_hotel_slid {
        padding: 0;
    }
    #amazingcarousel-4 h2 {
        padding-bottom: 10px;
    }
    #amazingcarousel-4 p {
        padding-bottom: 5px;
    }
    .amazingslider-text-2,
    .amazingslider-text-bg-2 {
        padding: 10px 30px !important;
    }
    .pragon_red{
        top: 13%;

    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
	
	.left_login {border-bottom: 1px solid #e4e1e1; border-right:none}
	.left_login .or {
    position: absolute;
    bottom: -10px;
    right: initial;}
	.left_login1 {
    border-right: none;
    padding: 35px;
    padding-bottom: 0;}
    .main_nav ul li a {
        padding: 19px 9px;
    }
    .foot_nav {
        float: none;
        text-align: center;
    }
    .copy {
        margin-top: 8px;
        float: none;
        text-align: center;
    }
    .copy p {
        float: none;
    }
    .copy span {
        float: none;
    }
    .why_img_box a span {
        top: 31%;
        left: 23%;
    }
    .col-lg-7 .why_img_box a span,
    .col-md-7 .why_img_box a span,
    .col-sm-7 .why_img_box a span {
        top: 37%;
        left: 0%;
    }
    .col-lg-5 .why_img_box a span,
    .col-md-5 .why_img_box a span,
    .col-sm-5 .why_img_box a span {
        top: 22%;
        left: 0%;
        padding: 10px;
    }
    #amazingcarousel-4 span {
        display: none;
    }
    .amazingslider-text-2,
    .amazingslider-text-bg-2 {
        padding: 5px 30px !important;
    }
    .amazingslider-title-2 {
        padding: 0 !important;
    }
    .amazingslider-description-2 {
        display: none !important;
    }
    .pragon_red{
        display: none;
    }
}

@media only screen and (max-device-width:767px) {
	.left_login {border-bottom: 1px solid #e4e1e1; border-right:none}
	.left_login .or {
    position: absolute;
    bottom: -10px;
    right: initial;}
	.left_login1 {
    border-right: none;
    padding: 35px;
    padding-bottom: 0;}
	.datepicker{margin-bottom:0px !important;}
    .nav_trigger {
        display: block;
    }
    .main_nav {
        display: block;
        background: rgba(17, 41, 59, 0.8);
        padding: 0px 0px;
        float: none;
    }
    .main_menu{
        display: none;
        bottom: 0;
    }
    .main_nav ul {
        margin-top: 19px;
        padding-left: 0;
        float: none;
    }
    .main_nav ul li {
        display: list-item;
        list-style: none;
        text-align: center;
        padding: 0px 0px;
    }
    .main_nav ul li:hover {}
    .main_nav ul li a {
        color: #fff;
        padding: 8px 0px;
        display: block;
    }
    .main_nav ul li a:hover {
        text-decoration: none;
        color: #fff;
    }
    .main_menu {
        position: absolute;
        background: rgba(17, 41, 59, 0.8);
        padding: 0px 0px;
        width: 100%;
        top: 80px;
        z-index: 9;
    }
    .col-lg-7 .why_img_box a span,
    .col-md-7 .why_img_box a span,
    .col-sm-7 .why_img_box a span {
        top: 40%;
        left: 37%;
    }
    .col-lg-5 .why_img_box a span,
    .col-md-5 .why_img_box a span,
    .col-sm-5 .why_img_box a span {
        top: 36%;
        left: 37%;
    }
    #amazingcarousel-4 p {
        display: none;
    }
    .amazingslider-description-2 {
        display: none !important;
    }
    .foot_nav {
        float: none;
        text-align: center;
    }
    .copy {
        margin-top: 8px;
        float: none;
        text-align: center;
    }
    .copy p {
        float: none;
    }
    .copy span {
        float: none;
    }
    .special_menu h4 {
        text-align: center;
        margin-top: 20px;
    }
    .resturant_slid h4 {
        text-align: center;
    }
    #amazingcarousel-4 .amazingcarousel-image {
        width: 100% !important;
    }
    #amazingcarousel-4 .amazingcarousel-text {
        width: 100% !important;
    }
    .amazingslider-nav-2 {
        display: none !important;
    }
    .amazingslider-img-2 {
        height: 320px !important;
    }
    .amazingslider-space-2 {
        width: 100% !important;
    }
    #amazingslider-wrapper-2 {
        padding-right: 0 !important;
    }
    .amazingslider-text-wrapper-2 {
        bottom: 0px !important;
    }
    .banner {
        background: rgba(0, 0, 0, 1);
    }
    .check_fourm {
        position: relative;
        display: inline-block;
    }
    .place {
        width: 100% !important;
    }
    .datepicker {
        width: 100%;
    }
    .check_fourm input[type="text"] {
        width: 100%;
    }
    .check_fourm .room_typ {
        width: 35.667% !important;
    }
    .check_fourm .num_pers {
        width: 30.6% !important;
    }
    .check_fourm button {
        width: 36%;
    }
    .container {
        width: 100% !important;
    }
    .mob_num a h3 {
        font-size: 18px;
    }
    .mob_num {
        float: left;
    }
    .our_special_box {
        display: inline-block;
    }
    .why_img_box a span {
        position: absolute;
        width: 100%;
        bottom: 0;
        top: auto;
        left: 0;
    }
    .why_img_box {
        margin: 15px 0px;
    }
    .col-lg-7 .why_img_box a span,
    .col-md-7 .why_img_box a span,
    .col-sm-7 .why_img_box a span {
        bottom: 0;
        top: auto;
        left: 0;
        /*padding: 500px 0px;*/
    }
    .why_img_box a img {
        width: 100%;
    }
    .col-lg-5 .why_img_box a span,
    .col-md-5 .why_img_box a span,
    .col-sm-5 .why_img_box a span {
        bottom: 0;
        top: auto;
        left: 0;
        /*padding: 226px 0px;*/
    }
    .our_special_box img {
        width: 100%;
    }
    .why_img_box a span:hover {
        background: rgba(3, 61, 105, 0.5);
    }
    #amazingcarousel-4 .amazingcarousel-image {
        margin-top: 0 !important;
    }
    .pragon_red{
        top: 16%;

    }
}

@media only screen and (max-device-width:480px) {
	.feedback_body{width: 100%;}
	.left_login {border-bottom: 1px solid #e4e1e1; border-right:none}
	.left_login .or {
    position: absolute;
    bottom: -10px;
    right: initial;}
	.left_login1 {
    border-right: none;
    padding: 35px;
    padding-bottom: 0;}
    .check_fourm .room_typ {
        width: 100% !important;
    }
    
    .why_img_box a img {
        width: 100%;
    }
    .pragon_red{
        display: none;

    }
.logo {
    float: left;
    max-width: 200px;
    width: auto;
}
}

@media only screen and (max-device-width:435px) {
    .mob_num a h3 {
        font-size: 18px;
    }
    .nav_trigger {
        right: 15px;
        top: 71px;
    }
    .mob_num {
        float: left;
    }
    .main_menu {
        top: 124px;
    }
    .check_fourm .num_pers {
        width: 48.5% !important;
    }
}